/*Happy main colors*/
/*Fonts*/
@font-face {
  font-family: "Bebas Neue";
  src: url(../fonts/BebasNeue.ttf) format("truetype");
}
body {
  font-family: 'Roboto', sans-serif;
  background: #dedcd2;
  color: #494744;
  overflow-x: hidden;
}
/* font specifications */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: 'Bebas Neue', sans-serif;
}
/* site bordering */
#border-top,
#border-bottom,
#border-left,
#border-right {
  background: #494744;
  position: fixed;
  z-index: 11;
}
#border-left,
#border-right {
  top: 0;
  bottom: 0;
  width: 15px;
}
#border-left {
  left: 0;
}
#border-right {
  right: 0;
}
#border-top,
#border-bottom {
  left: 0;
  right: 0;
  height: 15px;
}
#border-top {
  top: 0;
}
#border-bottom {
  bottom: 0;
}
.parallax {
  background-image: url("../images/cloudy.gif");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax .dreamstate {
  background-color: rgba(222, 220, 210, 0.5);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.parallax .caption {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  color: #000;
}
.parallax .caption h1 {
  color: #FFF;
  text-shadow: 2px 3px rgba(73, 71, 68, 0.5);
  font-size: 150px;
  margin-bottom: -20px;
}
.parallax .caption .pronunciation {
  font-size: 25px;
  color: #FFF;
  text-shadow: 2px 3px rgba(73, 71, 68, 0.5);
  font-style: italic;
}
.diagonal-slice {
  z-index: 1;
  display: block;
  float: left;
  margin-top: -75px;
  width: 100%;
  background: #dedcd2;
  transform: skew(0deg, -5deg);
  -ms-transform: skew(0deg, -5deg);
  -webkit-transform: skew(0deg, -5deg);
}
.body-row {
  margin: 55px 25px 30px 25px;
  transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
}
header {
  width: 100%;
  line-height: 60px;
  position: fixed;
  z-index: 100;
}
.hamburger {
  background: none;
  position: absolute;
  top: 10px;
  left: 20px;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 99;
}
.cross {
  background: none;
  position: absolute;
  top: 0px;
  left: 20px;
  padding: 13px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 3.5em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 99;
}
.menu {
  z-index: 99;
  font-weight: bold;
  font-size: 0.8em;
  width: 50%;
  background: #494744;
  position: fixed;
  text-align: center;
  margin-top: 15px;
  margin-left: 60px;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu li {
  display: block;
  padding: 15px 0 15px 0;
}
.menu li:hover {
  display: block;
  background: #01a9ab;
  padding: 15px 0 15px 0;
}
.menu li a {
  text-decoration: none;
  margin: 0px;
  color: #fff;
}
.menu li a:hover {
  color: #fff;
  text-decoration: none;
}
.menu a {
  text-decoration: none;
  color: white;
}
.menu a:hover {
  text-decoration: none;
  color: white;
}
